doctype html
html(lang="en")
    head
        meta(charset="UFT-8")
        meta(name="viewport", content="width=device-width", initial-scale=1.0)
        title Diet Plan
        link(rel="stylesheet", href="style.css")
    body
        header
            img(src="logo.png").logo
            nav
                a(href="index.html") Dashboard
                a(href="nutrition.html") Nutrition 
                a(href="#") Workouts 
                a(href="#") Sleep
            <div class="profile">👤</div>
    main
        div.dietdate.container
            div.datebutton
                button.datebutton__btn--back <
                span.datebutton__date 2/March/2026
                button.datebutton__btn--onward >
        div.dayplan.container
            div.day
                div.day__header 
                    h3 2/March Monday
                    button.day__header__editbtn  edit 
                div.day__contentlist
                    button dish name 1
                    button dish name 2
                    button dish name 3
            div.day
                div.day__header 
                    h3 3/March Tuesday
                    button.day__header__editbtn  edit 
                div.day__contentlist
                    button dish name 1
                    button dish name 2
                    button dish name 3
            div.day
                div.day__header 
                    h3 4/March Wednesday
                    button.day__header__editbtn  edit 
                div.day__contentlist
                    button dish name 1
                    button dish name 2
                    button dish name 3
            div.day
                div.day__header 
                    h3 5/March Thursday
                    button.day__header__editbtn  edit 
                div.day__contentlist
                    button dish name 1
                    button dish name 2
                    button dish name 3
            div.day
                div.day__header 
                    h3 6/March Friday
                    button edit 
                div.day__contentlist
                    button dish name 1
                    button dish name 2
                    button dish name 3
                    